<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit} ? 'Edit car' : 'New car'"></title>
</head>
<body>


<h1 th:text="${edit} ? 'Edit car' : 'New car'"></h1>
<form th:action="@{'/save'}" method="post" th:object="${car}">
    <input type="hidden" th:field="*{id}">
    <section>
        <h2>SPZ</h2>
        <input type="text" th:field="${car.spz}">
    </section>
    <section>
        <h2>Colour</h2>
        <input type="text" th:field="${car.colour}">
    </section>
    <section>
        <h2>TankVolume</h2>
        <input type="number" th:field="${car.tankVolume}">
    </section>
    <section>
        <h2>Number of Seats</h2>
        <input type="number" th:field="${car.numberOfSeats}">
    </section>

    <input type="submit" value="Save">
</form>

</body>
</html>